<div class="relative">
  <div class="absolute inset-0 bg-[#f7f7fa] opacity-50 bg-[repeating-linear-gradient(45deg,#064e3b_25%,transparent_25%,transparent_75%,#064e3b_75%,#064e3b),repeating-linear-gradient(45deg,#064e3b_25%,#f7f7fa_25%,#f7f7fa_75%,#064e3b_75%,#064e3b)] bg-[length:80px_80px] bg-[0_0,40px_40px]"></div>
  <div class="relative z-10 flex flex-col w-full h-screen p-4">
    <div class="h-fit w-full bg-neutral-50 bg-clip-padding backdrop-filter backdrop-blur bg-opacity-40 saturate-100 backdrop-contrast-100 p-4 rounded-lg">
      <h1 class="text-3xl font-black text-emerald-800 w-full mx-auto">
        ...working out helps with your fitness goals too
      </h1>
    </div>
    <ul class="flex flex-col w-full gap-6 my-10">
      <li class="text-xl">
        Lose weight - Cardio
      </li>
      <li class="text-xl">
        Gain Mass - High weight low rep
      </li>
      <li class="text-xl">
        Flexibilty - Yoga & Flexibility Training
      </li>
      <li class="text-xl">
        Strength - Functional Training
      </li>
      <li class="text-xl">
        Definition - Low weight high rep
      </li>
    </ul>
  </div>
</div>
